@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('./clashDisplay_font.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000;
  --foreground: #fff;
  --font-clash-display: 'Clash Display', sans-serif;
}

html { 
  scroll-padding-top: 40px;
  scroll-behavior: smooth;
  height: 100%;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100%;
}

.page-bg {
  background-image: url('/img/colored_spots.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

h2 {
  font-weight: 600;
  color: white;
}

h3.alternative-title {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  @apply text-gray-800;
}

a {
  font-family: 'Quicksand', sans-serif;
  color: #4d94ff;
}

/* Home */
.title-home-section {
  @apply text-[14vw] sm:text-[4rem] md:text-[8vw] lg:text-[8vw] xl:text-[6vw] 2xl:text-[6vw];  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  letter-spacing: 0.1rem;
  font-weight: 500;
  transform: scaleY(0.7);
  font-family: 'ClashDisplay-Medium';
}

.arrow-section {
  @apply w-[90px] sm:w-[115px] md:w-[140px] lg:w-[165px] xl:w-[190px] 2xl:w-[215px];
}
/* Fin */

/* Home #Skills */
.skills-title {
  @apply  text-[7vw] sm:text-xl md:text-2xl lg:text-3xl 3xl:text-5xl 4xl:text-6xl
          pb-1 sm:pb-2 3xl:pb-6
          font-bold;
}

.skills-subtitle {
  @apply  text-[6vw] sm:text-lg md:text-xl lg:text-2xl 3xl:text-4xl 4xl:text-5xl
          pb-1 sm:pb-2 3xl:pb-4
          4xl:mt-4
          font-bold;
}

.skills-text {
  @apply  text-[5vw] sm:text-[16px] md:text-[18px] lg:text-[20px] xl:text-[22px] 3xl:text-[24px] 4xl:text-[34px]
          flex 
          justify-center sm:justify-between
          mt-2;
}
/* Fin */

/* Home #Projects */
.section-container {
  @apply  flex 
          flex-col 
          items-center 
          justify-center 
          w-full
          text-center xl:text-left;
}

@layer components {
  .project-description-block {
    @apply  flex 
            flex-col 
            items-center 
            xl:items-start 
            xl:pl-4 2xl:pl-6 
            mt-4 xl:mt-12 
            max-w-[800px];
  }
}

.project-image-title {
  @apply text-[5vw] sm:text-[2rem] 2xl:text-[3rem] font-medium;
  font-family: 'ClashDisplay-Extralight';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  
  text-rendering: optimizeLegibility;  
  letter-spacing: 0.1rem;
  font-weight: 500;
  transform: scaleY(0.8);
}

.project-techno-title {
  @apply text-[3vw] sm:text-[0.9rem] 2xl:text-[1.2rem] 4xl:text-[1.6rem] font-clash font-normal text-colorChart;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  
  text-rendering: optimizeLegibility;  
  font-weight: 300;
  margin-left: 5px;
  transform: scaleY(1);
}

.project-usetechno-info-block {@apply mt-2 flex items-center gap-2;}
.project-usetechno-info {
  @apply text-[3.4vw] sm:text-[0.9rem] 2xl:text-[1.1rem] 3xl:text-[1.4rem] 4xl:text-[1.8rem] font-clash font-medium text-colorChart;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  
  text-rendering: optimizeLegibility;  
  letter-spacing: 0.05rem;
  font-weight: 500;
  transform: scaleY(0.8);
}

.project-date {
  @apply text-[4vw] sm:text-[1.3rem] 4xl:text-[1.8rem] font-clash font-medium;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  
  text-rendering: optimizeLegibility;
  color: #a6c0e4;  
  letter-spacing: 0.1rem;
  font-weight: 500;
  letter-spacing: -0.05em;
  transform: scaleY(0.8);
}

.link-project-home { 
  @apply  text-[3.5vw] sm:text-[2.5vw] md:text-[1.6vw] lg:text-[1.5vw] xl:text-[1.3vw] 2xl:text-[1.1vw] 4xl:text-[1vw]
          text-LinkInactive 
          hover:text-LinkHover 
          hover:underline
          items-center 
          flex 
          flex-col;
}
/* Fin */

/* Attached Pages */
h2.title-page {
  @apply text-4xl md:text-5xl 2xl:text-6xl 3xl:text-7xl pt-24 mb-12;
  font-family: 'Orbitron', sans-serif;
  color: white;  
  text-align: center;
  font-weight: 600;
}

.paragraph-custom {
  font-family: 'Quicksand', sans-serif;
  color: white;
  text-align: justify;
  @apply  text-[3.5vw] sm:text-[3vw] md:text-[2vw] lg:text-[1.5vw] xl:text-[1.2vw] 2xl:text-[1vw]
          w-full
}
/* Fin */

/* Skills */
.skills-detail-title{
  @apply text-3xl 2xl:text-4xl 3xl:text-5xl
}

.skills-detail-subtitle{
  @apply text-2xl 2xl:text-3xl 3xl:text-4xl
}

.skills-detail{
  @apply text-[4vw] sm:text-xl 3xl:text-3xl
}
/* Fin */

/* Portfolio */
.project-section {
  @apply  px-4 sm:px-8 md:px-16 2xl:px-32
          lg:pt-10 xl:pt-10 2xl:pt-10                                        
          mx-auto;
}

.title-project {
  color: #4d94ff;
  font-family: 'Clash-display-variable', sans-serif;
  text-align: center;
  font-weight: 600;
  @apply  text-[6vw] sm:text-[24px] md:text-[28px] lg:text-[30px] xl:text-[32px] 2xl:text-[45px] 4xl:text-[60px]
          mb-2
          mt-6;
}

.link-project-portfolio {
  @apply  text-LinkInactive 
          hover:text-LinkHover 
          hover:underline
          text-[3.5vw] sm:text-[3vw] md:text-[2.2vw] lg:text-[1.5vw] xl:text-[1.3vw] 2xl:text-[1.3vw]
          items-center
          flex flex-col
          mb-12
}

.paragraph-sub-title {
  @apply  text-colorChart
          text-[3.5vw] sm:text-[3vw] md:text-[2.2vw] lg:text-[1.5vw] xl:text-[1.3vw] 2xl:text-[1.3vw]
          underline
          block 
          mb-2
          mt-4
}

h4.project-description {
  font-family: 'Clash-display-variable', sans-serif;
  font-weight: 600;
  @apply  text-colorChart 
          text-[3.5vw] sm:text-[3vw] md:text-[2.2vw] lg:text-[1.5vw] 2xl:text-[1.3vw];
  margin-bottom: 20px;
}

.unordered-list {
  font-family: 'Quicksand', sans-serif;
  color: white;
  @apply  text-[3.5vw] sm:text-[3vw] md:text-[2.2vw] lg:text-[1.5vw] 2xl:text-[1.3vw]
          2xl:max-w-screen-2xl 3xl:max-w-screen-2xl 4xl:max-w-screen-4xl;
  text-align: justify;
  white-space: normal;
  word-wrap: break-word;
  text-align: left;
}

.img_portfolio {
  @apply w-full mx-auto rounded-xl mb-6
}
/* Fin */

/* Contact Page */
.title-contact-page {
  @apply text-4xl sm:text-3xl md:text-4xl pt-24 mb-2;
  font-family: 'Orbitron', sans-serif;
  color: white;
  text-align: center;
  font-weight: 600;
}
/* Fin */

@layer utilities {
  .text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
}
