@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000;
  --foreground: #fff;
}

html { 
  scroll-padding-top: 120px;
  scroll-behavior: smooth;
  height: 100%;
  /*overflow: hidden;*/
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100%;
  overflow: auto
}

.page-bg {
  background-image: url('/img/colored_spots.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.font-orbitron {
  font-family: 'Orbitron', sans-serif;
}

h1 {
  font-family: 'Clash-display-variable', sans-serif;
  font-weight: 600;
  color: white;
}

.page-title {
  color: white;
  font-family: 'Clash-display-variable', sans-serif;
  text-align: center;
  font-weight: 600;
}

a {
  font-family: 'Quicksand', sans-serif;
}

.paragraph-custom {
  font-family: 'Quicksand', sans-serif;
  color: white;
  text-align: justify;
}

.section-title {
  @apply text-[10vw] sm:text-[4rem] md:text-[5rem] xl:text-[6rem] 2xl:text-[5rem];
}

.section-arrow {
  @apply w-[22vw] sm:w-[20vw] md:w-[18vw] lg:w-[14vw] xl:w-[16vw] 2xl:w-[14vw];
}

.skills-text {
  @apply text-[5vw] sm:text-[16px] md:text-[18px] lg:text-[20px] xl:text-[22px] 2xl:text-[22px];
}

@layer utilities {
  .text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
}
