@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000;
  --foreground: #fff; /* Couleur du texte en gris clair */
}

html { 
  scroll-padding-top: 120px;
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  background-repeat: no-repeat;
  background-position: center;
}

.page-bg {
  background-image: url('/img/colored_spots.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.font-orbitron {
  font-family: 'Orbitron', sans-serif;
}

h1 {
  font-family: 'Clash-display', sans-serif;
  font-weight: 600;
  color: white;
}

.page-title {
  color: white;
}

a {
  font-family: 'Quicksand', sans-serif;
}

.paragraph-custom {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  color: white;
}

@layer utilities {
  .text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
}
