@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000;
  --foreground: #fff;
}

html { 
  scroll-padding-top: 40px;
  scroll-behavior: smooth;
  height: 100%;
  /*overflow: hidden;*/
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100%;
  overflow: auto
}

.page-bg {
  background-image: url('/img/colored_spots.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.font-orbitron {
  font-family: 'Orbitron', sans-serif;
}

h2 {
  font-weight: 600;
  color: white;
}

h3.alternative-title {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  @apply text-gray-800;
}

a {
  font-family: 'Quicksand', sans-serif;
}

.paragraph-custom {
  font-family: 'Quicksand', sans-serif;
  color: white;
  text-align: justify;
}

.unordered-list {
  font-family: 'Quicksand', sans-serif;
  color: white;
  text-align: justify;
  white-space: normal;
  word-wrap: break-word;
  text-align: left;
}

.title-home-section {
  @apply text-[14vw] sm:text-[4rem] md:text-[8vw] lg:text-[8vw] xl:text-[6vw] 2xl:text-[6vw];  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  letter-spacing: 0.1rem;
  font-weight: 500;
  transform: scaleY(0.7);
  font-family: 'clash', sans-serif;
}

.section-arrow {
  @apply w-[90px] sm:w-[115px] md:w-[140px] lg:w-[165px] xl:w-[190px] 2xl:w-[215px];
}

.paragraph-home {
  font-family: 'Quicksand', sans-serif;
  color: white;
  text-align: justify;
  @apply text-[3.5vw] sm:text-[3vw] md:text-[2.2vw] lg:text-[1.5vw] xl:text-[1.2vw] 2xl:text-[1.2vw]; 
}

.skills-text {
  @apply text-[5vw] sm:text-[16px] md:text-[18px] lg:text-[20px] xl:text-[22px] 2xl:text-[22px];
}

.title-page {
  @apply text-4xl sm:text-3xl md:text-4xl pt-24 mb-12;
  color: white;
  font-family: 'Clash-display-variable', sans-serif;
  text-align: center;
  font-weight: 600;
}

.title-project {
  color: #4d94ff;
  font-family: 'Clash-display-variable', sans-serif;
  text-align: center;
  font-weight: 600;
  @apply text-[6vw] sm:text-[24px] md:text-[28px] lg:text-[30px] xl:text-[32px] 2xl:text-[34px];
  @apply mb-4 sm:mb-6 md:mb-8 lg:mb-10 xl:mb-12;
}

h3.portfolio-title-page {
  font-family: 'Clash-display-variable', sans-serif;
  font-weight: 600;
  @apply text-colorChart;
  margin-bottom: 20px;
}

.project-image-title {
  @apply text-[4vw] sm:text-[2rem] md:text-[2rem] xl:text-[2rem] 2xl:text-[3rem] font-clash font-medium;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  
  text-rendering: optimizeLegibility;  
  letter-spacing: 0.1rem;
  font-weight: 500;
  transform: scaleY(0.8);
}

.project-date-paragraph {
  @apply text-[3vw] sm:text-[1.3rem] md:text-[1.3rem] xl:text-[1.3rem] 2xl:text-[1.3rem] font-clash font-medium;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  
  text-rendering: optimizeLegibility;
  color: rgba(95, 125, 167, 0.55);  
  letter-spacing: 0.1rem;
  font-weight: 500;
  letter-spacing: -0.05em;
  transform: scaleY(0.8);
}

@layer utilities {
  .text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
}
